<!DOCTYPE html>
<html>
    <head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Sistem Informasi Importir{% endblock %}</title>        
        <link href="/web/assets/mdbootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/web/assets/mdbootstrap/css/mdb.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/web/assets/font-awesome/css/all.css">
        <link href="/web/assets/css/styles.css" rel="stylesheet">
        {% block stylesheets %}
        {% for css in stylesheets %}
        <link href="{{ css }}" rel="stylesheet">        
        {% endfor %}
        {% endblock %}
    </head>
    <style>
    {% block styles %}
    {% endblock %}
    </style>
    <body>
        <div class="loader">Loading&#8230;</div>
        {% block topbar %}
        <header>
            <nav class="navbar fixed-top navbar-expand-lg py-1 navbar-dark blue scrolling-navbar">
                <a class="navbar-brand" href="./"><strong>SISTEM INFORMASI IMPORTIR</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">                                    
                    <ul class="navbar-nav nav-flex-icons ml-auto"> 
                        <li class="nav-item dropdown px-2">                    
                            <a class="nav-link dropdown" title="Akun Anda" data-toggle="dropdown"><i class="fa fa-user-circle fa-2x"></i></a>      
                            <div class="dropdown-menu dropdown-primary dropdown-menu-right">
                                <div id="userprofile">{{ username }}</div>    
                                <a class="dropdown-item" href="/logout">Keluar</a>
                            </div>                                  
                        </li>                
                    </ul>
                    
                </div>
            </nav>
        </header> 
        {% endblock %}                                
        {% block container %}
        <div class="container-fluid">
            {% block modal %}
            <div class="modal fade" id="modal" style="z-index:1200" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">        
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="d-none btn btn-ok btn-secondary btn-sm waves-effect waves-light"></button>                    
                        <button type="button" class="btn btn-close btn-secondary btn-sm waves-effect waves-light" data-dismiss="modal">Tutup</button>  
                    </div>
                </div>
                </div>
            </div>
            {% endblock %}
            {% block breadcrumb %}        
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% for brd in breads %}
                    <li class="breadcrumb-item{%if brd.active %} active{% endif %}">
                        {% if brd.link %}
                            <a href="{{ brd.link }}">
                        {% endif %}
                            {{ brd.text }}
                        {% if brd.link %}
                            </a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ol>
            </nav>
            {% endblock %}
            {% block body %}
            {% endblock %}
        </div>
        {% endblock %}
        {% block footer %}<div class="footer">
            <hr/>
            <div class="container text-center">
                <p class="text-muted small">&copy;&nbsp;2019 All rights reserved.<br>Versi 2018.1.1
                </p>
            </div>
        </div>
        {% endblock %}
        <script src="/web/assets/jquery/jquery.min.js"></script>
        <script src="/web/assets/mdbootstrap/js/bootstrap.min.js"></script>
        <script src="/web/assets/mdbootstrap/js/mdb.min.js"></script>
        {% block javascripts %}
        {% for script in scripts %}
        <script src="{{ script }}"></script>        
        {% endfor %}
        {% endblock %}
    </body>
</html>
<script type="text/javascript">
{% block scripts %}
{% endblock %}
</script>